@import "tailwindcss";
@plugin './hero.js';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  --default-border-width: 1px;
}

:root {
  --heroui-border-width-small: 1px;
  --heroui-border-width-medium: 1px;
  --heroui-border-width-large: 1px;
  --background: #fff;
  --foreground: #111827;
  --primary: #cc7a60;
  --primary-dark: #b56850;
  --primary-foreground: #fff;
  --secondary: #f9fafb;
  --secondary-foreground: #111827;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --accent: #f59e0b;
  --accent-foreground: #fff;
  --destructive: #ef4444;
  --destructive-foreground: #fff;
  --border: #8b929e;
  --input: #8b929e;
  --ring: #cc7a60;
  --card: #fff;
  --card-foreground: #111827;
  --popover: #fff;
  --popover-foreground: #111827;
  --sidebar: #fafafa;
  --sidebar-foreground: #3f3f46;
  --sidebar-border: #e5e7eb;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --radius: 0.625rem;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #d99178;
  --primary-dark: #c57f66;
  --primary-foreground: #0a0a0a;
  --secondary: #1a1a1a;
  --secondary-foreground: #ededed;
  --muted: #262626;
  --muted-foreground: #a3a3a3;
  --accent: #f59e0b;
  --accent-foreground: #0a0a0a;
  --destructive: #ef4444;
  --destructive-foreground: #ededed;
  --border: #262626;
  --input: #262626;
  --ring: #d99178;
  --card: #111;
  --card-foreground: #ededed;
  --popover: #111;
  --popover-foreground: #ededed;
  --sidebar: #18181b;
  --sidebar-foreground: #f4f4f5;
  --sidebar-border: #27272a;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #f4f4f5;
}

*,
*::before,
*::after {
  border-color: var(--border);
}

svg.lucide {
  width: 18px;
  height: 18px;
  stroke-width: 1px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
